head,body, #wrapper
{
    height:100%;
    width:100%;
    text-align: center;
}
#wrapper
{
    margin-top: 17%;
    font-size: xx-large;
}
#title
{
    font-size:larger;
}
button
{
    font-size: large;
}